ENVIRONMENT="dev"
DATA_BASE_HOST="localhost"
DATA_BASE_PASSWORD="postgres"
OPEN_IA_API_KEY=""
PINECONE_API_KEY=""
TOKEN_KEY=""
EMAIL_PASSWORD=""
KEY_CODE_ACCESS=""
REDIS_PASSWORD=""
CLOUD_SECRET_KEY=""
CLOUD_ACCESS_KEY=""